<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings >
		<add key="ClientId" value="114054f9-6db9-4711-b8a5-e7a04c70c6b2"/>
		<add key="AuthServer" value="account-d.docusign.com"/>
		<add key="ImpersonatedUserID" value="583674d4-4f81-4feb-b219-b4d5349f76f1"/>
		<add key="PrivateKeyFile" value="private_yahoo.key"/>
	</appSettings>
	
	<!--appSettings  yahoo 1>
		<add key="ClientId" value="c1cf1001-3f78-46bc-abd6-d05d4d302f14"/>
		<add key="AuthServer" value="account-d.docusign.com"/>
		<add key="ImpersonatedUserID" value="583674d4-4f81-4feb-b219-b4d5349f76f1"/>
		<add key="PrivateKeyFile" value="private.key"/>
	</appSettings-->

	<!--<appSettings  FayOk>
		<add key="ClientId" value="be70fb60-ec5e-4ab3-8bc2-9bc793ffd28b"/>
		<add key="AuthServer" value="account-d.docusign.com"/>
		<add key="ImpersonatedUserID" value="41040751-02c1-4617-8eff-ef74d04db766"/>
		<add key="PrivateKeyFile" value="private.key"/>
	</appSettings>-->

	<!--appSettings>
		<add key="ClientId" value="5bc0a48f-6acc-4377-a091-6565382b070f"/>
		<add key="AuthServer" value="account-d.docusign.com"/>
		<add key="ImpersonatedUserID" value="41040751-02c1-4617-8eff-ef74d04db766"/>
		<add key="PrivateKeyFile" value="private4.key"/>
	</appSettings-->
	
	<!--<appSettings>
		<add key="ClientId" value="{INTEGRATION_KEY_JWT}"/>
		<add key="AuthServer" value="account-d.docusign.com"/>
		<add key="ImpersonatedUserID" value="{IMPERSONATED_USER_ID}"/>
		<add key="PrivateKeyFile" value="..\..\..\private.key"/>
	</appSettings>-->
</configuration>